{% extends 'partials/main.html' %}
{% block content %}

<div class="col-6 offset-3">

    <div class=" row ">
        <form action="{% url 'gigs:index' %}" class="needs-validation" method="POST" novalidate>
            {% csrf_token %}

            <h1 class="mb-4 col-md-6">Create a New Gig</h1>

            <div class="row">
                <div class="mb-3 col-6">
                    <label class="form-label" for="name">Gig Name</label>
                    <input class="form-control" name="name" type="text" id="name" placeholder="Name of Your Gig"
                        required>

                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3 col-6">
                    <label class="form-label" for="price">Gig Price</label>
                    <input class="form-control" name="price" type="number" id="price" placeholder="Price of Your Gig"
                        min="1" step="0.01" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-12">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description"
                        placeholder="a Short Description">
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="mb-3 col-12">
                    <label class="form-label" for="category">Gig Price</label>
                    <select class="form-select" name="category" id="category" multiple required>
                        {% for category in categorys %}
                        <option value="{{ category.id }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>


            <button class="btn btn-primary">Submit</button>

        </form>
    </div>

    {% endblock %}
