{% extends 'partials/main.html' %}
{% block content %}

<div class='row title-row my-5'>
    <div class='col-12 py-0'>
        <h3 class='my-0 py-0'>{{ count }} results for <b>{{ query }}</b></h3>
    </div>
</div>

<div class="row">

    {% for gig in results %}

    <div class="card col-lg-3 m-5">
        <a href="{% url 'gigs:show' gig.id %}">
            <img src="{{ gig.image.url }}" class="card-img-top img-fluid mt-3" alt="Gig image">
        </a>
        <div class="card-body">
            <a href="{% url 'gigs:show' gig.id %}">
                <h5 class="card-title">{{ gig.name }}</h5>
            </a>
            <p class="card-text text-muted">{{ gig.description }}</p>
            <a href="{% url 'gigs:show' gig.id %}"><button class="btn btn-primary">${{ gig.price }}</button></a>
            <br>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
