{% extends 'partials/main.html' %}
{% block content %}

<div class="card">
    <img src="{{ gig.image.url }}" class="card-img-top" alt="Gig image">
    <div class="card-body">
        <h5 class="card-title">{{ gig.name }}</h5>
        <p class="card-text">{{ gig.description }}</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{% url 'users:show' gig.user.id %}">Gig Owner</a></li>
        <li class="list-group-item">Price : {{ gig.price }}</li>
    </ul>
    <div class="card-body">
        <a href="#" class="card-link"><button class="btn btn-primary">Order</button></a>
        {% if gig.user == request.user %}
        <a href="{% url 'gigs:edit' gig.id %}" class="card-link"><button class="btn btn-info">Edit This Gig</button></a>
        {% endif %}
    </div>
    <div class="card-body">
        Category :
        {% for category in gig.category.all %}
        </span>{{ category.name }} </span>
        {% endfor %}
    </div>
</div>

{% endblock %}
