django==3.2.*
django-dotenv==1.4.*
django-allauth==0.44.*
django-filter==2.4.*
django-method-override==1.0.*
django-countries==7.*
django-csp==3.7.*
cloudinary==1.25.*
zeep==4.0.*
pillow==8.2.*
gunicorn==20.1.*
whitenoise==5.2.*
psycopg2-binary==2.8.*
dj-database-url==0.5.*
