{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/reseter.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/starability.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{{ title }}</title>
  </head>

  <header>{% include 'partials/navbar.html' %}</header>

  <body class="d-flex flex-column vh-100">
    <main class="container mt-3">
      {% include 'partials/flash.html' %} {% block content %} {% endblock %}
    </main>

    <footer class="footer bg-dark py-3 mt-auto text-muted">
      <div class="container">&copy;FiverrClone</div>
    </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/formValidation.js' %}"></script>
    <script src="{% static 'js/flash.js' %}"></script>
  </body>
</html>
