{% extends 'main.html' %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.full_name }}</h2>
      {% if object.name %}
        <p>{{ object.name }}</p>
      {% endif %}
      {% if object.short_bio %}
        <p>{{ object.short_bio|linebreaksbr }}</p>
      {% endif %}
      {% if object.description %}
        <p>{{ object.description|linebreaksbr }}</p>
      {% endif %}
      {% if object.country %}
        <p>{{ object.country|linebreaksbr }}</p>
      {% endif %}
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">
    <div class="col-sm-12">
      <a class="btn btn-primary" href="{% url 'users:update' object.pk %}" role="button">My Info</a>
      {% comment %} <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a> {% endcomment %}
      <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}