a, a:hover{
  text-decoration: none;
  color: black;
}

#right-nav {
  margin-left: auto;
}

a.card-link ,button.btn ,button.btn:hover {
  color: #ffffff;
}

h1.logout {
    margin: 70px 0 0 180px;
}

button.logout {
    margin: 0 0 0 60px;
}

a.logout {
    margin: 0 0 0 60px;
}

div.card.col-md-4{
    margin: 20px 100px 40px 100px;
}

div.card.col-md-6{
    margin: 20px 120px 40px 100px;
}

img{
  border-radius: 6px;
  max-width: 500px;
  height: auto;
}