a, a:hover{
  text-decoration: none;
  color: black;
}

#right-nav {
  margin-left: auto;
}

a.card-link ,button.btn-info ,button.btn-warning ,button.btn-info:hover ,button.btn-warning:hover{
  color: #ffffff;
}

h1.logout {
  text-align: center;
}

@media(width:885px){
  div.col-lg-5 {
    max-width:330px
  }
}