a, a:hover{
  text-decoration: none;
  color: black;
}

#right-nav {
  margin-left: auto;
}

a.card-link ,button.btn ,button.btn:hover {
  color: #ffffff;
}

h1.logout {
    margin: 70px 0 0 180px;
}

@media(width:885px){
  div.col-lg-5 {
    max-width:330px
  }
}