{% extends 'partials/main.html' %}
{% block content %}

<h1>FiverrClone</h1>
<h2>A whole world of freelance talent at your fingertips</h2>
<hr>

<div class="row">
    <div class="card col-md-5 m-5">
        <img src="https://res.cloudinary.com/dw2u3eucc/image/upload/v1613942885/kobu-agency-7okkFhxrxNw-unsplash_1_dkzci8.jpg"
            class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">Looking For a Service ?</h5>
            <p class="card-text text-muted">Jump Right in Gigs and Find What You Want !</p>
            <a href="{% url 'gigs:index'%}"><button class="btn btn-success">Gigs</button></a>
            <br>
        </div>
    </div>
    <div class="card col-md-5 m-5">
        <img src="https://res.cloudinary.com/dw2u3eucc/image/upload/v1613942885/sigmund-Zs1zHhHBG8g-unsplash_ie7ubv.jpg"
            class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">Have a Tallent ?</h5>
            <p class="card-text text-muted">Start Share Your Gig's With The World !</p>
            <a href="{% url 'gigs:new'%}"><button class="btn btn-primary">Create a Gig</button></a>
            <br>
        </div>
    </div>
</div>

<hr>

<h3 class="mt-4 mb-4">Newest Gigs</h3>

<div class="row">

    {% for gig in gigs %}

    <div class="card col-md-3 m-5">
        <img src="{{ gig.image.url }}" class="card-img-top" alt="Gig image">
        <div class="card-body">
            <h5 class="card-title">{{ gig.name }}</h5>
            <p class="card-text text-muted">{{ gig.description }}</p>
            <a href="{% url 'gigs:show' gig.id %}"><button class="btn btn-primary">${{ gig.price }}</button></a>
            <br>
        </div>
    </div>

    {% endfor %}

</div>



{% endblock %}
