{% extends 'partials/main.html' %}
{% load countries %}
{% block content %}


<style>
    div.row {
        margin: 200px 0 0 200px;
    }

    div.a,
        {
        margin-right: 30px;
    }

</style>

<form action="/accounts/logout/" method="POST">
    {% csrf_token %}

    <div class="row">
        <h1 class="col-md-12 mb-5">Are You Sure ?</h1>
        <a href="{% url 'core:index' %}" class="btn btn-primary col-md-3 mr-5">No take me Back !</a>
        <button type="submit" class="btn btn-danger col-md-3 ml-5">Yes logout me Out !</button>
    </div>
</form>

{% endblock %}
