{% extends 'partials/main.html' %}
{% load countries %}
{% block content %}

<div class="col-6 offset-3">

    <div class=" row ">
        <form action="{% url 'users:index' %}" class="needs-validation" method="POST" novalidate>
            {% csrf_token %}

            <div class="row">

                <div class="mb-3 col-6">
                    <label class="form-label" for="first_name">First Name</label>
                    <input class="form-control" name="first_name" type="text" id="first_name"
                        placeholder="Enter Your First Name" value="{{ user.first_name }}" required>

                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3 col-6">
                    <label class="form-label" for="last_name">Last Name</label>
                    <input class="form-control" name="last_name" type="text" id="last_name"
                        placeholder="Enter Your Last Name" value="{{ user.last_name }}" required>

                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3 col-12">
                    <label class="form-label" for="description">Description</label>
                    <input class="form-control" name="description" type="text" id="description"
                        placeholder="Write a Short Description" value="{{ user.description }}" required>

                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3 col-12">
                    <label class="form-label" for="biography">Biography</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" name="biography" rows="3"
                        placeholder="Hello My Name is .." required>{{ user.biography }}</textarea>

                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3 col-12">
                    <label for="country" class="form-label">Country</label>
                    {% get_countries as countries %}
                    <select name="country" id="country" class="form-select form-select-sm">
                        {% for country in countries %}
                        {% if user.country == country.code %}
                        <option value="{{ country.code }}" selected>{{ country.name }}</option>
                        {% else %}
                        <option value="{{ country.code }}">{{ country.name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>

            </div>

            <button class="btn btn-info">Edit</button>

        </form>
    </div>

    {% endblock %}
